<style>
  body {
    font-family: Verdana, sans-serif;
    margin: auto;
    padding: 20px;
    max-width: 720px;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.6;
  }

  body,
  h1 {
    background-color: #1a2022; /* #2c3639 40%d */
    color: #eae7df; /* #dcd7c9 40%l */
  }

  a,
  blockquote {
    color: #c7b09d; /* a27b5c 40%l */
  }

  textarea,
  input {
    background-color: #252525;
    color: #ddd;
  }

  .title {
    font-size: 60%;
    text-decoration: none;
    border: 0;
    display: flex;
    align-items: center;
  }

  .title span {
    font-weight: 400;
  }

  nav a {
    margin-right: 10px;
  }

  textarea {
    width: 100%;
    font-size: 16px;
  }

  input {
    font-size: 16px;
  }

  th,
  td {
    padding: 0 16px;
  }

  img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  img.profile {
    max-width: 256px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  code {
    padding: 2px 5px;
    background-color: #777;
  }

  pre code {
    color: #ddd;
    display: block;
    padding: 20px;
    white-space: pre-wrap;
    font-size: 14px;
    overflow-x: auto;
  }

  div.highlight pre {
    background-color: initial;
    color: initial;
  }

  div.highlight code {
    background-color: unset;
    color: unset;
  }

  blockquote {
    border-left: 1px solid;
    padding-left: 20px;
    font-style: italic;
  }

  footer {
    padding: 25px;
    text-align: center;
  }

  .helptext {
    color: #aaa;
    font-size: small;
  }

  .errorlist {
    color: #eba613;
    font-size: small;
  }

  ul.blog-posts {
    list-style-type: none;
    padding: unset;
  }

  ul.blog-posts li {
    display: flex;
  }

  ul.blog-posts li span {
    flex: 0 0 130px;
  }

  @media (prefers-color-scheme: dark) {
  }
</style>
